body {
  background-color: #F39494;
}
main {
  background-color: #FFFEFE;
}

form {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  color: #333333;
}

h2 {
  font-size: 18px;
  color: #666666;
}

label {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}

input {
  background-color: #F5F5F5;
}

input::placeholder {
  font-size: 16px;
  font-style: italic;
  color: #999999;
}