* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(225deg,
  rgba(255, 255, 255, 0.6) 0%,
  rgba(255, 165, 165, 0.4) 50%,
  transparent 100%
  ),
  linear-gradient(315deg,
          #F298DE 0%,
          #F39494 30%,
          #FFA5A5 100%
  );
}

.register-form {
  padding: 72px 0 91px 0;
  display: flex;
  flex-direction: column;
  gap: 47px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background: #FFFEFE;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 582px;
}

.form-header {
  font-size: 1.125rem;
}

.form-title {
  font-size: 2.25rem;
  font-weight: 700;
}

.form-subtitle {
  color: #666666;
}

.form-subtitle a {
  text-decoration: underline;
  color: #089FE0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 22px;
  width: 100%;
  max-width: 394px;
}

.form-inputs input {
  border: 1px solid #F5F5F5;
  height: calc(3rem - 4px);
  border-radius: 5px;
  transition: border-color 0.3s ease;
  width: 100%;
  font-size: 1rem;
  padding: 0 0.75rem;
}

.form-inputs label {
  display: flex;
  flex: 1;
}

.form-inputs input::placeholder {
  color: #999999;
  font-style: italic;
  font-size: 1rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 394px;
  gap: 1px;
}

input.form-input-name {
  border-radius: 5px 0 0 5px;
  width: 100%;
}

input.form-input-surname {
  border-radius: 0 5px 5px 0;
  width: 100%;
}

.form-button {
  width: 100%;
  background: #089FE0;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: calc(3rem - 4px);
}

.form-agreement {
  display: flex;
  font-size: 14px;
  color: #666;
  align-items: center;
  width: auto;
}

.form-agreement label {
  display: block;
}

.form-agreement a {
  color: #089FE0;
  text-decoration: none;
}

.form-agreement input[type="checkbox"] {
  width: 15px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-right: 4px;
}